
#wrapper {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
	background: #444;
	width: 1000px;
	border: 1px solid #ACD8F0;
}

#chatbox {
	border-radius: 10px;
	text-align: left;
	float: left;
	margin: 0 25px;
	margin-bottom: 25px;
	padding: 10px;
	background: white;
	height: 350px;
	width: 925px;
	max-width: 925px;
	border: 1px solid #ACD8F0;
	overflow: auto;
}

#usermsg {
	width: 450px;
	font-family: arial;
	border: 1px solid #ACD8F0;
	border-radius: 10px;
	font: 12px arial;
	padding: 15px;
}

#usermsg:focus {
	outline: none;
}

#submitmsg {
	width: 60px;
	border-radius: 10px;
	font: 12px arial;
	padding: 10px;
	max-width: 500px;
}

#menu {
	padding: 0 10px;
}

.welcome {
	color: white;
	font-family: trebuchet ms;
}

.user {
	font-family: trebuchet ms;
}

.myUser {
	color: yellow;
	font-weight: bold;
}

.msgln {
	margin: 0 0 2px 0;
	font-family: arial;
}


